@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// centers both vertically and horizontally for inline
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

// MEDIA QUERY MANAGER

/*
    PHONE            : 0 - 600px
    TABLET Portrait  : 600 - 900px
    TABLET Landscape : 900 - 1200px
    Dekstop          : 1200 - 1800px
    Desktop Big      : 1800+px 

*
    $breakpoint : ENUM {
        phone, tab-port, tab-land, big-desktop
    }

    // ems best for break points  em = px / 16

    1em = 16px

    ORDER : BASE, TYPOGRAPHY, LAYOUT, PAGE LAYOUT, COMPONENTS
*/
@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
