*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 
  use percentages here
  so user can change 
  default font size
*/

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 1000px;
}